@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Global */

:root {
    --primary-color: #003da8;
    --main-color: #eee;
    --gray : #f5f5f5;
    --blac1 : #555;
    --black2 : #222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--main-color);
}
.container {
    position: relative;
    width: 100%;

}

/* Navigation */

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--primary-color);
    border-left: 10px solid var(--primary-color);
    overflow: hidden;
    transition: 0.5s;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: var(--main-color);
}
.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--main-color);

}
.navigation ul li:hover a{
    color: var(--primary-color);
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 22px;
}

.navigation ul li a .text {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

/* Curve outside */
.navigation ul li:hover a::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: 0;
    background-color : transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 35px -35px 0 10px var(--main-color);
}
.navigation ul li:hover a::before {
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    background-color : transparent;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: 35px 35px 0 10px var(--main-color);
}